body {
	background-color: #F0F0FF;
}

button{
	display: block;
	margin: 10px auto;
	float: top;
}

#buttons{
	display: block;
	margin: 10px auto;
}
	
#container{
	background-color: black;
	width:640px;
	height: 640px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: 1px dashed;
	overflow: hidden;
}

.square{
    display: inline-block;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

